* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  max-width: 950px;
  margin: 25px auto;
}

.main {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
  width: 50%;
  background: rgb(29, 28, 27);
  background: linear-gradient(
    0deg,
    rgba(29, 28, 27, 1) 0%,
    rgba(196, 194, 191, 1) 50%,
    rgba(250, 250, 250, 1) 100%
  );
  margin: 45px auto;
  border: 4px solid white;
  border-radius: 8px;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
  width: 50%;
  background: rgb(29, 28, 27);
  background: linear-gradient(
    0deg,
    rgba(29, 28, 27, 1) 0%,
    rgba(196, 194, 191, 1) 50%,
    rgba(250, 250, 250, 1) 100%
  );
  margin: 45px auto;
  box-shadow: 10px 0 5px -2px #5a5a5a;
  border-radius: 8px;
}

.container {
  position: relative;
  display: flex;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
}

.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: 70px;
  border-radius: 8px;
}

.info-current-time {
  margin: 0 auto;
  margin-top: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.3rem;
}

h1 {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2vw;
  text-align: center;

  text-align: center;
}

select {
  display: block;
  padding: 5px 8px;
  border-radius: 8px;
  min-width: 150px;
  width: 80%;
  margin: 25px auto;
  font-size: 16px;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
}

.city {
  border: 2px solid black;
  text-align: center;
  margin: 15px auto;
  border-radius: 8px;
}

.time {
  display: flex;
  text-align: center;
  flex-direction: row;
}

.hour {
  width: 50px;
  font-size: 35px;
  border: 2px solid black;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  margin-right: 0;
  padding-top: 3px;
}

.minute {
  border: 2px solid black;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  margin-left: 0;
  font-size: 35px;
  padding: 5px;
}

.am-pm {
  flex-direction: column;
  font-size: 20px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 4px;
}

.date {
  padding: 5px;
}
.train-container {
  overflow-x: hidden;
}

#train {
  width: 45%;
  margin-bottom: -5%;
  animation: mymove 7s infinite;
  position: relative;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

#track {
  margin-bottom: 0%;
  width: 100%;
  height: 100px;
  margin-left: 0px;
}

@media only screen and (max-width: 600px) {
  .clock {
    width: 200px;
    height: 200px;
  }
}
