* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  max-width: 950px;
  margin: 25px auto;
}

.main {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
  width: 50%;
  background: rgb(29, 28, 27);
  background: linear-gradient(
    0deg,
    rgba(29, 28, 27, 1) 0%,
    rgba(196, 194, 191, 1) 50%,
    rgba(250, 250, 250, 1) 100%
  );
  margin: 45px auto;
  border: 4px solid white;
  border-radius: 8px;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
  width: 50%;
  background: rgb(29, 28, 27);
  background: linear-gradient(
    0deg,
    rgba(29, 28, 27, 1) 0%,
    rgba(196, 194, 191, 1) 50%,
    rgba(250, 250, 250, 1) 100%
  );
  margin: 45px auto;
  box-shadow: 10px 0 5px -2px #5a5a5a;
  border-radius: 8px;
}

.container {
  position: relative;
  display: flex;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock p {
  font-size: 12px;
  border: 1px solid #6f6c6c;
  border-radius: 8px;
  margin-top: 90px;
  padding: 5px;
  color: #6f6c6c;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 20px;
}

.clock::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  background-color: var(--clr);
  width: 4px;
  height: 70px;
  border-radius: 8px;
}

.info-current-time {
  margin: 0 auto;
  margin-top: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
  font-weight: bolder;
}

.info-current-time span {
  font-weight: 400;
}

.local-time {
  border: 2px solid rgb(54, 54, 54);
  font-size: 18px;
  padding: 10px;
  margin: 5px auto;
}

h1 {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  text-align: center;
}

select {
  display: block;
  padding: 5px 8px;
  border-radius: 8px;
  min-width: 150px;
  width: 80%;
  margin: 25px auto;
  font-size: 16px;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
}

.city {
  border: 2px solid black;
  text-align: center;
  margin: 15px auto;
  border-radius: 8px;
}

.time {
  display: flex;
  text-align: center;
  flex-direction: row;
  margin: 15px;
}

.hour {
  width: 50px;
  font-size: 35px;
  border: 2px solid black;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  margin-right: 0;
  padding-top: 3px;
}

.minute {
  border: 2px solid black;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  margin-left: 0;
  font-size: 35px;
  padding: 5px;
}

.seconds {
  border: 2px solid black;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
  margin-left: 0;
  font-size: 18px;
  padding: 5px;
  padding-top: 15px;
}

.am-pm {
  flex-direction: column;
  font-size: 20px;
  border: 1px solid black;
  padding: 2px;
  border-radius: 4px;
}

.date {
  padding: 5px;
}

.portland,
.saopaulo,
.london,
.tokyo {
  transition: all 2s ease-in-out;
}

.portland:hover {
  background-image: url("https://oregonwild.org/sites/default/files/MtJeffersonJeremyCram.jpg");
  background-size: cover;
  color: white;
  filter: saturate(45%);
}

.saopaulo:hover {
  background-image: url("https://wallpapers.com/images/hd/sao-paulo-brazil-sunset-cityscape-ebjtlapeynee12pl.jpg");
  background-size: cover;
  color: white;
  filter: saturate(45%);
}

.london:hover {
  background-image: url("https://www.tripsavvy.com/thmb/qQ59TqUkLOoVREXGaoWNU3zRwRg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1047502134-ebf7496b41e047759046e17b91f57679.jpg");
  background-size: cover;
  color: white;
  filter: saturate(45%);
}

.tokyo:hover {
  background-image: url("https://t4.ftcdn.net/jpg/02/51/12/11/360_F_251121174_5xQyUCqSrkswyLHbM9Ne8DQ8Qb0o1HGw.jpg");
  background-size: cover;
  color: white;
  filter: saturate(45%);
}

#city-info-container {
  display: none;
  padding: 20px;
  background: rgb(166, 163, 161);
  background: linear-gradient(
    180deg,
    rgba(166, 163, 161, 1) 0%,
    rgba(223, 221, 216, 1) 50%,
    rgba(242, 214, 179, 1) 100%
  );
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin: 15px;
  margin-top: 20px;
}

#city-info-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* Set text color */
  text-align: justify;
  font-family: "roboto", sans-serif;
}

#go-back-button {
  cursor: pointer;
  color: #2b2b2c; /* Set button text color */
  margin-top: 10px;
  padding: 8px;
  border: 2px solid #86552c;
  border-radius: 4px;
}

#go-back-button:hover {
  text-decoration: underline; /* Add underline on hover for the button */
}

.train-container {
  overflow-x: hidden;
}

#train {
  width: 45%;
  margin-bottom: -5%;
  animation: mymove 10s infinite;
  position: relative;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 100%;
  }
}

#track {
  margin-bottom: 0%;
  width: 100%;
  height: 100px;
  margin-left: 0px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 0px 10px;
  }

  .main {
    flex-direction: row;
  }

  .clock p {
    font-size: 8px;
    margin-top: 25px;
  }

  .left-container {
    width: 50%;
  }

  .right-container {
    width: 50%;
  }

  .select {
    margin: 5px auto;
  }

  .clock {
    width: 160px;
    height: 160px;
  }

  #train {
    width: 80%;
  }

  #track {
    height: 50px;
  }

  .cities-container {
    flex-direction: column;
  }

  .city {
    width: 100%;
    margin: 5px auto;
  }

  /* Adjust font sizes */
  h1 {
    font-size: 18px;
  }

  p,
  span,
  div,
  select,
  .date {
    font-size: 14px;
  }

  .hour,
  .minute,
  .seconds,
  .info-current-time {
    font-size: 18px;
    padding-top: 10px;
  }

  .hand i {
    height: 35px;
  }
}
